
body{
    background: #000;
    color: white;
    text-align: center;

}


.bannerBox{
    background-color: lightsteelblue;
    /* background-color: lightslategray; */
    background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/00/03/14/92561d1ba31f9fe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 100% 200px; */
  
}
