body {
    /* background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/00/03/14/92561d1ba31f9fe.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top; */
   
    /* height: 485px; */
    /* width: 50%; */

    background-color: whitesmoke; /* For browsers that do not support gradients */
    background-image: linear-gradient(white, slategray); /* Standard syntax (must be last) */
    
}



.jumbotron{
    background-color: lightsteelblue;
    /* background-color: lightslategray; */
    
    
  
}


.bannerBox {
    background-image: url(https://images.unsplash.com/photo-1471877325906-aee7c2240b5f?ixlib=rb-0.3.5&s=4c530096fab3bd6e275b24ac53d65c51&auto=format&fit=crop&w=600&q=60);
    /* background-image: url(http://images6.fanpop.com/image/photos/41100000/U2-Wallpaper-remy_46-41177873-1024-768.gif);   */
    /* background-position: bottom; */
    background-position-x: 30px;
    background-position-y: 280px;
    background-size: cover;
    color: white;
    font-weight: bold;
        

}



.vidBox {    
    background-image: url(https://farm4.staticflickr.com/3101/2831453394_b60f1561b8.jpg);   
    background-position: right;
    background-size: cover;
    color: white;

}


.resultsBox{
    background-image: url(https://i1.wp.com/pluspng.com/img-png/stage-lights-png-hd-free-stage-with-lights-stage-lighting-background-concert-light-stock-video-footage-videoblocks-1920.png?resize=450,300); 
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position-y: -40px;
    background-position-x: -80px;
    color: white;
}



.dropdown-menu {
    background-color: lightsteelblue;
    /* background-image: url(https://static1.squarespace.com/static/56d61c93c2ea512ffe9f69da/t/570b84a72b8dde64de18b85e/1460372650414/15+Free+Blurry+Backgrounds+%2810+of+15%29.jpg?format=500w);  */
    
}

.form-control{
    background-color: lightsteelblue;
    /* background-color: lightslategray; */
    /* background-image: url(https://static1.squarespace.com/static/56d61c93c2ea512ffe9f69da/t/570b84a72b8dde64de18b85e/1460372650414/15+Free+Blurry+Backgrounds+%2810+of+15%29.jpg?format=2500w);  */
}



/* Styling for Text animation Begins*/
.cd-headline.rotate-1 .cd-words-wrapper {
    display: inline-block;
    perspective: 300px;
  }

  .cd-headline.rotate-1 b {
    opacity: 0;
    transform-origin: 50% 100%;
    transform: rotateX(180deg);
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .cd-headline.rotate-1 b.is-visible {
    position: relative;
    opacity: 1;
    transform: rotateX(0deg);
  }

  .cd-headline.rotate-1 b {
    opacity: 0;
    transform-origin: 50% 100%;
    transform: rotateX(180deg);
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .cd-headline.rotate-1 b.is-visible {
    position: relative;
    opacity: 1;
    transform: rotateX(0deg);
    animation: cd-rotate-1-in 1.2s;
  }
  
  .cd-headline.rotate-1 b.is-hidden {
    transform: rotateX(180deg);
    animation: cd-rotate-1-out 1.2s;
  }

  @keyframes cd-rotate-1-in {
    0% {
      transform: rotateX(180deg);
      opacity: 0;
    }
    35% {
      transform: rotateX(120deg);
      opacity: 0;
    }
    65% {
      opacity: 0;
    }
    100% {
      transform: rotateX(360deg);
      opacity: 1;
    }
  }
  
  @keyframes cd-rotate-1-out {
    0% {
      transform: rotateX(0deg);
      opacity: 1;
    }
    35% {
      transform: rotateX(-40deg);
      opacity: 1;
    }
    65% {
      opacity: 0;
    }
    100% {
      transform: rotateX(180deg);
      opacity: 0;
    }
  }

  /* Styling for Text animation Ends*/




